{% extends "blog/base.html" %}
          
{% block content %}
{% for article in object_list %}
<!-- Blog Post -->
<div class="card mb-4">
    <img class="card-img-top article-cover" src="{{ article.cover.url }}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{article.title}} <span class="float-right"><i class="fas fa-comments"></i>{{article.comment_set.count}}</span></h2>
        <p class="card-text">{{article.short_desc}}</p>
        <a href="{% url 'article-detail' article.slug %}" class="btn btn-primary">Lire &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Publié le {{article.published_at}}
    </div>
</div>
{% empty%}
Aucun article n'a été trouvé.
{% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-lg  justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a  class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock  %}