{% extends "blog/base.html" %}
          
{% block content %}
{% for article in object_list %}
<!-- Blog Post -->
<div class="card mb-4">
    <img class="card-img-top article-cover" src="{{ article.cover.url }}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{article.title}} <span class="float-right"><i class="fas fa-comments"></i>{{article.comment_set.count}}</span></h2>
        <p class="card-text">{{article.short_desc}}</p>
        <a href="{% url 'article-detail' article.slug %}" class="btn btn-primary">Lire &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Publié le {{article.published_at}}
    </div>
</div>
{% endfor %}
{% endblock  %}