{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'flatpickr/dist/flatpickr.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">

    {% include "blog/header.html" %}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-md-8">
          {% block content%} {% endblock %}
        </div>
        <div class="col-md-4">
        {% if request.user.is_authenticated %}
            <div class="card my-4">
              <h5 class="card-header">Admin</h5>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="{% url 'article-create'%}">
                      <i class="fas fa-plus-square"></i>
                      Créer un nouvel article</a>
                  </li>
                  {% block extra_admin_action %}
                  {% endblock extra_admin_action %}
                </ul>
              </div>
            </div>
            {% endif %}
            <!-- Search Widget -->
            <div class="card my-4">
              <h5 class="card-header">Recherche</h5>
              <div class="card-body">
                <form action="{% url 'index' %}" method="get">
                  <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Recherche ...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
  
            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Par catégories</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      {% for category in categories %}
                      <li>
                        <a href="{% url 'category' category.slug %}">{{category.label }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Par date de parutions</h5>
              <div class="card-body">
                  <form id="search_date_form" action="{% url 'index' %}" method="get">
                    <div id="datepicker"></div>
                    <input type="hidden" id="datepicker_input" name="date">
                  </form>
              </div>
            </div>
  
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include "blog/footer.html" %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js' %}"></script>
    <script src="{% static 'flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'slugify/index.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#datepicker').datepicker({
                language : "fr",
            });
            $('#datepicker').on('changeDate', function() {
                var formatted_date = $('#datepicker').datepicker('getFormattedDate')
                $('#datepicker_input').val(formatted_date);
                $("#search_date_form").submit();
            });
            $("#id_published_at").flatpickr({
              enableTime: true,
              dateFormat: "Y-m-d H:i",
            });
            $("#id_title").on('keyup', function(){
              var title = $(this).val();
              $("#id_slug").val(slugify(title));
            })
           
        })
    </script>
</body>
</html>